<div id="container" class="tabbertab<%= ' tabbertabdefault' if params[:section] and params[:section] == 'my_restaurants'%>">
  <h2>Submitted</h2>
  <div id="main">
    <% entities = @user.ratings.map{|r| r.restaurant.entity} %>
    <%= render :partial => 'search_results', :locals => {:results => entities} %>
  </div>
</div>
